<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FrondScope.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FrondScope.Settings>
            <setting name="adcKHz" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Qadc" serializeAs="String">
                <value>1.52587891E-05</value>
            </setting>
            <setting name="tmedian_ms" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tfilter_ms" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="initLevelCh0_x" serializeAs="String">
                <value>45000</value>
            </setting>
            <setting name="initLevelCh0_y" serializeAs="String">
                <value>62000</value>
            </setting>
            <setting name="initLevelCh1_x" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="initLevelCh1_y" serializeAs="String">
                <value>64000</value>
            </setting>
            <setting name="levelIirCoef" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="levelClipFactor" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Thresh_0_1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Thresh_1_0" serializeAs="String">
                <value>-100</value>
            </setting>
            <setting name="Barcode1" serializeAs="String">
                <value>barcode1.bin</value>
            </setting>
            <setting name="Barcode2" serializeAs="String">
                <value>barcode2.bin</value>
            </setting>
            <setting name="hiResEnable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinMove_mm" serializeAs="String">
                <value>0.1</value>
            </setting>
        </FrondScope.Settings>
    </applicationSettings>
</configuration>